html,body{
    padding:0;
    margin:0;
}
.red-text{
    color: red;
}
.router-link{
    width:100%;
    text-decoration: none;
}
.cursor:hover{
   cursor: pointer;
}
.invisible-btn{
    background-color: transparent;
    border:0;
    width:100%;
    display: flex;
}