html,body{
    padding:0;
    margin:0;
}
.red-text{
    color: red;
}
.router-link{
    width:100%;
    text-decoration: none;
}
.cursor:hover{
   cursor: pointer;
}
.invisible-btn{
    background-color: transparent;
    border:0;
    width:100%;
    display: flex;
}
.home-container{
    display:grid;
    grid-template-rows: 0.75fr 0.5fr 5fr 3fr;
    height: 100%;
}
.tasks-container{
    display: grid;
    grid-template-rows: 2fr 15fr 2fr;
    height: 100%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.flex1{
    flex:1
}
.flex2{
    flex:2
}
.flex3{
    flex:3
}
.flex4{
    flex:4
}
.flex5{
    flex:5
}
.flex6{
    flex:6
}
.center-justify{
    justify-content: center;
}
.center-align{
    align-items: center;
}
.center-align-self{
    align-self: center;
}
.center-self-justify{
    justify-self: center;
}
.black{
    background-color: #595959;
}
.red{
    background-color: red;
}
.custom-border{
    border: 1px solid #FBB047;
}
.padding-3{
    padding-left: 3%;
}
.padding-7{
    padding-left: 13%;
}
.height-80{
    height: 80%;
}
.width-60{
    width:60%
}
.illustration{
    height:200px;
    position: absolute;
    top:35%;
    left:25%
}
.paragraph{
    padding-left: 5%;
}
.margin-3{
  margin-left: 3%;
}
.width-30{
    width: 27%;
}
.height-120{
    height: 120%;
}
.margin-5-left{
    margin-left: 5%;
}
.space-evenly{
   justify-content: space-evenly;
}
.height-70{
   height: 80%;
}
.margin-7{
    margin-left: 7%;
}
.margin-top-5{
    margin-top: 5%;
}
.border-radius-10{
    border-radius: 20px;
}
.border-radius-30{
    border-radius: 30px;
}
.margin-left-40{
    margin-left: 40%;
}
.margin-left-30{
    margin-left: 30%;
}
.flex-end{
    align-items: flex-end;
}
ul{
  list-style: none;
}
.list-item::before{
    content: '';
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4%;
}

li{
    height: 35px;
}
.width-15{
    width: 15vw;
}
.height-15{
    height: 7vh;
}
.border-radius-15{
    border-radius: 15px;
}
.border-radius-20{
    border-radius: 20px;
}
.width-80{
    width:80%
}
.width-40{
    width:40%
}
.flex-column{
    flex-direction: column;
}
.height-100{
 height: 100%;
}
.height-60-vh{
    height: 45vh;
}
.list-div{
   height: 7vh;
}
.space-between{
    justify-content: space-between;
}
.padding-right-5{
    padding-right: 5%;
}
.invisible-btn{
    background-color: transparent;
    outline:0;
    margin: 0;
    border: 0;
}
.invisible-btn:hover{
   cursor: pointer;
}
.capital{

}
p.capital{
    text-transform: capitalize;
}
.padding-4{
  padding: 4%;
}
.left-10{
    left:10%
}